{% extends 'base.html' %}
{% block title %} Восстановление пароля {% endblock %}
{% block content %}
<section class="section-login">
        <div class="login container">
             <p>Вам нужно ввести ваш e-mail, который вы указывали при регистрации</p>
            <form action="." method="post">
                {% for item in form %}
                    <strong>{% if item.errors %} {{ item.errors }} {% else %} {{ item.label }} {% endif %}</strong>
                    <p>{{ item }}</p>
                    {% endfor %}
                <p><input type="submit" value="Отправить"></p>
                {% csrf_token %}
             </form>
        </div>
</section>


{% endblock %}