{% extends 'base.html' %}
{% load static %}
{% block title %} Заполнение информации{% endblock %}
{% block content %}
    <section class="section-login">
        <div class="login container">
            <form action="." method="post" id="workerForm"
                  data-cities-url="{% url 'ajax_load_cities' %}" data-subcategory-url="{% url 'ajax_load_subcategory' %}"
                  novalidate enctype="multipart/form-data">
                    {% for field in form %}
                     <strong> {{ field.label }} </strong>
                    {% if field.errors %}<br><br><strong>{{ field.errors }} {% endif %}</strong>
                    <br><small>  {{ field.help_text }}</small>
                    <p>{{ field }}</p>
                    {% endfor %}
                {% csrf_token %}
            <p><input type="submit" value="Создать"></p>
            </form>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="{% static 'js/ajax.js' %}"></script>
        </div>
    </section>
{% endblock %}