{% extends 'base.html' %}
{% load static %}
{% block title %} Заполнение информации{% endblock %}
{% block content %}
    <section class="section-login">
        <div class="login container">
            <form action="." method="post" id="workerForm"
                  data-cities-url="{% url 'ajax_load_cities' %}" data-subcategory-url="{% url 'ajax_load_subcategory' %}"
                  novalidate>
                    {% for item in form %}
                    <strong>{% if item.errors %} {{ item.errors }} {% else %} {{ item.label }} {% endif %}</strong>
                    <p>{{ item }}</p>
                    {% endfor %}
                {% csrf_token %}
            <p><input type="submit" value="Создать"></p>
            </form>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="{% static 'js/ajax.js' %}"></script>
        </div>
    </section>
{% endblock %}