{% extends 'base.html' %}
{% block title %} Регистрация {% endblock %}
{% block content %}
    <section class="section-login">
        <div class="login container">
            <form action="." method="post">
                    {% for item in form %}
                    <strong>{% if item.errors %} {{ item.errors }} {% else %} {{ item.label }} {% endif %}</strong>
                    <p>{{ item }}</p>
                    {% endfor %}
                {% csrf_token %}
            <p><input type="submit" value="Создать"></p>
            </form>
        </div>
    </section>
{% endblock %}